* {
    margin: 12px;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: lightgoldenrodyellow;
    height: 100px;
    text-align: right;
    
}

.flex {
display: flex;
flex-wrap: wrap;

}

.card {
    background-color: white;
    width: 25%;
    padding: 3%;
    border-radius: 3%;
    border: 1px solid rgb(214, 211, 211);
}

section {
    margin: 48px auto;
    justify-content: center;
    gap: 24px;
}

a {
    text-decoration: none;    
}

a:visited {
    color: black;
}

body{
    background-color: gray;
}
.logo {
    text-align: left;
}
.footer {
    background-color: antiquewhite;
    font-style: normal;
    
}
.container {
    display: flex;

}